.fl {
	float: left;
}
.fr {
	float: right;
}

.clearfix:before, .clearfix:after {
	content: '';
	clear: both;
	display: table;
}

.navbar {
	background: rgba(0,0,0, 0.1);
}
.navbar-item {
	display: inline-block;
	line-height: 2;
	padding: 2px 4px;
}
.navbar-item:first-child {
	margin-left: 4px;
}

.navbar-item:last-child {
	margin-right: 4px;
}
.navbar .brand {
	font-size: 20px;
}

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

[ui-sref] {
	cursor: pointer;
}

.input-error-set {
	color: red;
}

.content-act {
	color:#666;
}

.item-content .title {
	font-size: 16px;
	padding: 10px 0px;
	color:#01bda7;
}
.content-owner {
	font-size: 12px;
	padding-bottom: 10px;
}
.content-owner .name {
	color:#666;
}
.content-owner .desc {
	color:#ccc;
}
.action-set {
	padding:10px 0;
}
.action-set .comment {
	font-size: 12px;
	color:#666;
	cursor: pointer;
}
.comment-item-set {
	/*border: 1px solid #ccc;*/
	padding-left: 10px;
}
.comment-item {
	padding: 10px;
}
.comment-item .user {
	float: left;
	width: 10%;
	font-weight: 600;
}
.comment-item .comment-content {
	float: right;
	width: 90%;
}
.comment-block {
	display: none;
}
.vote {
	display: inline-block;
	*display: inline;
	width: 10%;
	vertical-align: top;
}
.vote .up {
	color: red;
	cursor: pointer;
}
.vote .down {
	cursor: pointer;
}
.item-content {
	display: inline-block;
	*display: inline;
	width: 80%;
}